<div class="row">
  <div class="col-sm-3">
  <%= image_tag 'anne-richardson.png' %>
  <h4>Anne Richardson</h4>
  <a href="https://www.facebook.com/anne.richardson" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> 
    
    <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> 

    <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github fa-lg"></i></a> 

    <a href="https://twitter.com/lortz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
    <a href="https://www.thegamecrafter.com/games/tiny-tarot" target="_blank"><img src="https://s3.amazonaws.com/files.thegamecrafter.com/bcf2a3947067b0061724a49125f7a2f05ef1a392"></a>

  </div><!-- col-sm-3-->

  <div class="col-sm-9">
    <div class="about">
      <h1>So, Who Is The Modern Mystic?</h1>
      <p><span style="font-size: 1.25em">Um, I guess it's me... and the .sample function in Ruby.</span> Spoiler alert: I'm not psychic. I know how to write some Ruby and I like tarot cards because they force you to consider that any given situation could be framed in an infinite number of ways. So I built a command line app -- you know those 1980s games like Oregon Trail or Dr. Sbaitso where you type plain white text into a black screen? Then I thought I might actually make this app pretty. And that's more or less how this thing came about.</p>
      <p>So is it mystic? Probably not. If you want real mysticism, get your butt down here to the French Quarter in New Orleans and sidle up next to a real psychic. Who knows what will unfold...</p>

    </div><!--about-->  

  </div><!-- col-sm-9-->

</div><!--row-->




    




