<div class="row">
  <div class="col-sm-3">
  <%= image_tag 'anne-richardson.png', class: "headshot" %>
  <h4>Anne Richardson</h4>
  <p><a href="https://www.facebook.com/anne.richardson" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> 
    
  <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> 

  <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github fa-lg"></i></a> 

  <a href="https://twitter.com/lortz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></p>

  <a href="https://www.thegamecrafter.com/games/tiny-tarot" target="_blank" alt="Tiny Tarot Card Game by Anne Richardson"><%= image_tag 'tinytarot-ad.png', class: "ad" %></a>
  <h4>Get Yourself this Deck of Learning Cards I Made</h4>


  </div><!-- col-sm-3-->

  <div class="col-sm-9">
    <div class="about padding">
      <h1>Contribute</h1>

        <h3>I hope you've enjoyed using this site! If you're feeling the love, consider sending me a little scratch. Artists ought not actually starve.</h3>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="5TBJKM659RMNN">
        <table>
        <tr><td><input type="hidden" name="on0" value="Making it Rain...">Making it Rain...</td></tr><tr><td><select name="os0">
          <option value="High five">High five $1.00 USD</option>
          <option value="You're awesome.">You're awesome. $5.00 USD</option>
          <option value="Awww. I love you too.">Awww. I love you too. $10.00 USD</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div><!--about padding-->  

  </div><!-- col-sm-9-->

</div><!--row-->




    





