    <div class="row hometext">
      <div class="col-xs-12">
        <h1 class="sitename">The Modern Mystic</h1>
        <h2 class="tagline">Instant Tarot Readings</h2>
        <h4 class="choosereading">Choose Your Reading</h4>
      </div><!--col-xs-12-->
    </div><!--row-->

    <div class="row readingbuttonrow">
      <div class="col-xs-4">
        <a href="/spread/spread1"><img class="readingbutton" src="http://www.jackthelads.com/signs_heads/heart2a_black_200.gif"></a>
          <h2>Relationship Status</h2>
      </div><!--col-xs-4-->

      <div class="col-xs-4">
        <a href="/spread/spread2"><img class="readingbutton" src="http://jacobsenconsulting.com/wp-content/uploads/2014/03/icon88-300x300.png"></a>
          <h2>Life Decision</h2>
      </div><!--col-xs-4-->

      <div class="col-xs-4">
        <a href="/spread/spread3"><img class="readingbutton" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/decision.png"></a>
          <h2>General Question</h2>
      </div><!--col-xs-4-->
      
      
      
    </div><!--row-->

    <div class="row">
      <div class="col-xs-12">
        <p>Quick note here about privacy: The Modern Mystic has no interest in keeping any of your information. We don't buy, sell, trade, or frankly, do anything you do here. We think that's BS. You're safe here. Enjoy.</p>
      </div><!--col-xs-12-->
    </div><!--row-->