<div class ="wrapper">
  <div class="row hometext">
    <div class="col-sm-12">
      <h1 class="sitename">The Modern Mystic</h1>
      <h2 class="tagline">Instant Tarot Readings</h2>
    </div><!--col-sm-12-->
  </div><!--row-->

  <div class="row hometext">
    <div class="col-sm-4">
      <a href="/relationshipcheckin"><%= image_tag 'icon-spread1.png', class: "homeicon" %></a>
      <h3>Relationship Check-In<br/>
      Reading</h3>
    </div><!--col-sm-4-->

    <div class="col-sm-4">
      <a href="/confidenceboost"><%= image_tag 'icon-spread2.png', class: "homeicon" %></a>
      <h3>Confidence Boost<br/>
      Reading</h3>
    </div><!--col-sm-4-->

    <div class="col-sm-4">
      <a href="/conflictresolution"><%= image_tag 'icon-spread3.png', class: "homeicon" %></a>
      <h3>Conflict Resolution<br/>
      Reading</h3>
    </div><!--col-sm-4-->
  </div><!--row-->

</div><!--wrapper-->

