<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="hometext sitename">The Modern Mystic</h1>
        <h2 class="hometext tagline">Instant Tarot Readings</h2>
        <h4 class="hometext choosereading">Choose Your Reading</h4>
      </div><!--col-xs-12-->
    </div><!--row-->

    <div class="row">
      <ul>
        <a href="/spread/spread1"><li class="readingbutton">Relationship Reading</li></a>
        <a href="/spread/spread2"><li class="readingbutton">Decision Reading</li></a>
        <a href="/spread/spread3"><li class="readingbutton">Goals Setting Reading</li></a>
      </ul>
    </div><!--row-->

    <div class="row">
      <div class="col-xs-4">
        <div class="readingbutton">
          <a href="/spread/spread1">New Year Reading</a>
        </div><!--cardbutton-->
      </div><!--col-xs-4-->
      
      <div class="col-xs-4">
        <div class="readingbutton">
          <a href="/spread/spread1">Relationship Reading</a>
        </div><!--cardbutton-->
      </div><!--col-xs-4-->
      
      <div class="col-xs-4">
        <div class="readingbutton">
          <a href="/spread/spread1">Decision Reading</a>
        </div><!--cardbutton1-->
      </div><!--col-xs-4-->
      
    </div><!--row-->

    <div class="row">
      <div class="col-xs-12">
        <p>Quick note here about privacy: The Modern Mystic has no interest in keeping any of your information. We don't buy, sell, trade, or frankly, do anything you do here. We think that's BS. You're safe here. Enjoy.</p>
      </div><!--col-xs-12-->
    </div><!--row-->