<div class ="wrapper">
  <div class="row hometext">
    <div class="col-xs-12">
      <h1 class="sitename">The Modern Mystic</h1>
      <h2 class="tagline">Instant Tarot Reading</h2>
      <h3 class="teaser">Get a deeper understanding of your relationship with another person, entity, or being.</h3>
    </div><!--col-xs-12-->
  </div><!--row-->

  <div class="row hometext">
    <div class="col-xs-12">
    <center><%= link_to "Begin", spread_spread1_path, class: "btn btn-success btn-lg" %></center>

    </div><!--col-xs-12-->
  </div><!--row-->


</div><!--wrapper-->

