<div class ="wrapper">
  <div class="row hometext">
    <div class="col-xs-12">
      <h1 class="sitename">The Modern Mystic</h1>
      <h2 class="tagline">Instant Tarot Reading</h2>
    </div><!--col-xs-12-->
  </div><!--row-->

  <div class="row hometext">
    <div class="col-xs-4">
      <a href="/spread/spread1"><%= image_tag 'icon-spread1.png', class: "homeicon" %></a>
      <h3>Relationship Check-In<br/>
      Reading</h3>
    </div><!--col-xs-4-->

    <div class="col-xs-4">
      <a href="/spread/spread2"><%= image_tag 'icon-spread2.png', class: "homeicon" %></a>
      <h3>Confidence Boost<br/>
      Reading</h3>
    </div><!--col-xs-4-->

    <div class="col-xs-4">
      <a href="/spread/spread3"><%= image_tag 'icon-spread3.png', class: "homeicon" %></a>
      <h3>Conflict Resolution<br/>
      Reading</h3>
    </div><!--col-xs-4-->
  </div><!--row-->

</div><!--wrapper-->

