<div class="row">
  <div class="col-sm-3">
  <%= image_tag 'anne-richardson.png', class: "headshot" %>
  <h4>Anne Richardson</h4>
  <p><a href="https://www.facebook.com/anne.richardson" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> 
    
  <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> 

  <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github fa-lg"></i></a> 

  <a href="https://twitter.com/lortz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></p>

  <a href="https://www.thegamecrafter.com/games/tiny-tarot" target="_blank" alt="Tiny Tarot Card Game by Anne Richardson"><%= image_tag 'tinytarot-ad.png', class: "ad" %></a>
  <h4>Get Yourself this Deck of Learning Cards I Made</h4>


  </div><!-- col-sm-3-->

  <div class="col-sm-9">
    <div class="about padding">
    <%= image_tag "buckeet.jpg" %>
      <h1>Thank You!</h1>
      <p>You just made my day.  </p>

    </div><!--about-->  

  </div><!-- col-sm-9-->

</div><!--row-->




    




