<div class="row">
  <div class="col-sm-3">
  <%= image_tag 'anne-richardson.png', class: "headshot" %>
  <h4>Anne Richardson</h4>
  <p><a href="https://www.facebook.com/anne.richardson" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> 
    
  <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> 

  <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github fa-lg"></i></a> 

  <a href="https://twitter.com/lortz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></p>

  <a href="https://www.thegamecrafter.com/games/tiny-tarot" target="_blank" alt="Tiny Tarot Card Game by Anne Richardson"><%= image_tag 'tinytarot-ad.png', class: "ad" %></a>
  <h4>Get Yourself this Deck of Learning Cards I Made</h4>


  </div><!-- col-sm-3-->

  <div class="col-sm-9 white-bg padding">
      <%= image_tag "spread-multi.jpg" %>
      <h1>Tiny Tarot Card Set</h1>
      <p>Want to do your own readings with your own deck of tarot cards? Yep. I get that. I was not a tarot expert and the prospect of memorizing the right-side-up and up-side-down meanings to 78 cards PLUS memorizing how to lay them out in the right patterns was not really a learning endeavor I wanted to take on. Afterall, I have programming to learn! So I fixed the glitch.</p>
      <h3>I made this tarot set to solve that problem for both of us.</h3>
      <p>You don't need to know anything about how to do a tarot reading to get started with this set becsuse it gives you the meanings and intrepretations. All you have to do is ask a question, lay out the cards, and read the results. So easy. And unlike standard tarot decks, these cards are small enough to shuffle with ease. They're easy to handle, easy to understand, and easy to bring anywhere because they fit in your pocket, purse, or laptop bag with ease. I mean, shucks. They even fit on the flip down tray on an airplane -- which will garner you instant airplane friends. </p>

      <h3>Guided Reading Spreads Make You Feel Like a Genius.</h3>
      <p>Simply print them out and lay your cards right on top.</p>
       <ul> 
      <li>Relationship Status Snapshot Reading</li>
      <li>Deeper Look into a Relationship Reading</li>
      <li>Bigger Picture Check-In Reading</li> 
      <li>Traditional Celtic Cross Reading</li>
      <li>Simple Celtic Cross Reading</li>
      <li>Confidence Boost Reading</li>
      <li>Conflict Resolution Reading</li>
      <li>The "Should I Do It?" Reading</li>
      </ul>
      <p>The set comes with a black velveteen bag for storing your cards and guided spreads.</p> 

    <div class="buynow">
    <h3>Get Your Own Tarot Set</h3>

    <form action="https://www.thegamecrafter.com/checkout/sku/B2F5AD8A-DBE9-11E4-BEA7-080717E0A741" method="POST" style="display: inline;"><input type="submit" value="Buy &quot;Tiny Tarot&quot;"></form>
    <p style="font-size: .75em; font-style: italic; margin-top: 1.5em;">Cards are printed right here in the USA via TheGameCrafter.</p>

    </div><!-- buynow -->

  </div><!-- col-sm-9-->

</div><!--row-->




    




