<div class="row">
  <div class="col-sm-3">
  <%= image_tag 'anne-richardson.png', class: "headshot" %>
  <h4>Anne Richardson</h4>
  <p><a href="https://www.facebook.com/anne.richardson" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> 
    
  <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> 

  <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github fa-lg"></i></a> 

  <a href="https://twitter.com/lortz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></p>

  <a href="https://www.thegamecrafter.com/games/tiny-tarot" target="_blank" alt="Tiny Tarot Card Game by Anne Richardson"><%= image_tag 'tinytarot-ad.png', class: "ad" %></a>
  <h4>Get Yourself this Deck of Learning Cards I Made</h4>


  </div><!-- col-sm-3-->

  <div class="col-sm-9 white-bg padding">
      <%= image_tag "spread-multi.jpg", class: "salespics" %>
      <h1>Tiny Tarot Deck</h1>
      <p>Want to do your own readings with your own deck of tarot cards? This mini tarot card deck and spread set is perfect for people who want to get started reading tarot. Unlike standard tarot decks, these cards are small enough to shuffle with ease, and each card lists keywords for both right-side-up and reversed meanings. They're easy to handle, easy to understand, and easy to bring anywhere because they fit in your pocket, purse, or laptop bag with ease.</p>
      <p>There's more to tarot than memorizing the meanings of each card. You also need to learn how to interpret them during a reading. That's why this set comes with guided card spreads for you to download. Simply print them out and lay your cards right on top. </p>

      <p>Spreads Include:</p>
       <ul> 
      <li>Relationship Status Snapshot Reading</li>
      <li>Deeper Look into a Relationship Reading</li>
      <li>Bigger Picture Check-In Reading</li> 
      <li>Traditional Celtic Cross Reading</li>
      <li>Simple Celtic Cross Reading</li>
      <li>Confidence Boost Reading</li>
      <li>Conflict Resolution Reading</li>
      <li>The "Should I Do It?" Reading</li>
      </ul>

<p>The set comes with a black velveteen bag for storing your cards and guided spreads.</p> 
<p>Cards are made and printed in Wisconsin via TheGameCrafter.</p>

      <form action="https://www.thegamecrafter.com/checkout/sku/B2F5AD8A-DBE9-11E4-BEA7-080717E0A741" method="POST" style="display: inline;"><input type="submit" value="Buy &quot;Tiny Tarot&quot;"></form>

  </div><!-- col-sm-9-->

</div><!--row-->




    




