/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require font-awesome
 */


/* Site-wide */
body {
    background-image: url("bg03.jpg");
    background-size: 2000px;
    background-position: top center;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
  }
    
.navbar {
  border-radius: 0px;
}

.container {
  height: 100%;
}

.wrapper{
  width: 90%;
}

.white-bg {
  background-color: white;
  box-shadow: 3px 3px 10px black;
}

.row {
  margin-bottom: 5px;
}

.spacer {
  height: 50px;
}


footer {
  color: gray;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 45px;
  font-size: 70%;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}



/* Homepage Stuff  */

.hometext {
  color: white;
  text-shadow: 2px 2px 8px black;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.sitename {
  font-family: Ultra, serif;
  font-size: 6em;
  margin-bottom: 3%;
}

.tagline {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  margin-top: 0px;
}





/* Actual Readings stuff spread1.html */

.third {
  width: 30%;
  float: left;
  padding: 1%;
  margin: 1%;
  /* background-color: rgba(225, 225, 225, 0.5); */
  text-align: center;
    color: white;
  text-shadow: 2px 2px 8px black;
}

.third h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;

}

.third img {
  width: 100%;
  max-width: 150px;
  box-shadow: 2px 2px 8px black;  
}

.interpretations {
  background-color: rgba(225, 225, 225, 0.85);
  padding: 2% 5%;
  border-radius: 20px;
  box-shadow: 2px 2px 8px black;

}

.cardholder {
  width: 150px;
  height: 260px;
  text-align: center;
  background-image: url("00-rear.png");
  border-radius: 10px;
  color: white;
  font-family: 'Dancing Script', cursive;

}

.cardholder img {
  width: 100%;
  border-radius: 10px;
}

.col-xs-4 {
  text-align: center;
}


/* Cards Index */

.cardsindex img {
  width: 50px;
  margin-right: 20px;
}
